.player {
    display: flex;
    align-items: center;
    background-color: rgb(230, 213, 200);
    width: 300px;
    border-radius: 50px 0 0 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 850px) {
        width: 220px;
    }

    img {
        width: 60px;
        height:60px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 24px;
        margin-left: 16px;
        color: rgb(92,0,0);
    }
}

.playerActive {
    background-color: white !important;
    span {
        font-size: 32px !important;
    }
    }
    