.field {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("/assets/img/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardStack {
  position: relative;
  img {
    position: absolute;
    width: 120px;

    @media (max-width: 280px) {
      width: 80px;
    }
  }
}

.topCard {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.pickCard {
  animation: pickCardAnimation 1.25s ease-in-out;
  transform: scale(1) translateY(-200px) translateX(150px) rotate(10deg);
}

@keyframes pickCardAnimation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1) translateY(-200px) translateX(150px) rotate(10deg);
  }
}

.playedCard {
  transform: scale(1) translateY(-200px) translateX(150px) rotate(10deg);
  right: 25px;
}

.playerPosition {
  position: absolute;
  right: 0;
  z-index: 1;
}

.buttonAdd {
  position: absolute;
  right: 32px;
  bottom: 32px;

  @media (max-width: 820px) {
    bottom: 150px;
  }
}

.gameInfo {
  position: absolute;
  bottom: 32px;
  left: 100px;
  right: 100px;

  @media (max-width: 720px) {
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top:0;
  left:0;
  right:0;
  display:flex;
  gap: 8px;
}

.imprint {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  text-decoration: none;
  font-size: bold;

  @media (max-width: 720px) {
    top: 75vh;
  }
}
