<h1 mat-dialog-title>Edit player</h1>
<div class="pictureDialogue">
  <div>
    <img
      [mat-dialog-close]="picture"
      class="chooseProfilePicture"
      *ngFor="let picture of allProfilePictures"
      src="assets/img/player/{{ picture }}"
    />
  </div>
  <span>Choose picture by clicking on it</span>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button color="warn" [mat-dialog-close]="'DELETE'" cdkFocusInitial>Delete player</button>
  </div>
</div>
