.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 213, 200);
    width: 60px;
    border-radius: 0px 0px 50px 50px;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 12px;
        text-align: center;
        color: rgb(92,0,0);
    }
}

.playerActive {
    background-color: white !important;
    }
    